<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head_pagina">

</head>
<style>
	#div1{
		display: inline-block;
		float: left;
		margin-left: -20px;
	}

	#div2{
	
		float: center ;
		padding-left: 130px;
	}
</style>
<body>
	<div >
		<div th:replace="fragments :: coluna_superior"></div>
	</div>

	<div class="container"  id="div1">
		<div th:replace="fragments :: menu"></div>
	</div>
	
	<div align="center" class="container"  id="div2">
		<h1>Produto Cadastrado Com Sucesso</h1>
		<span>Nome:  </span><span th:text="${produtos.nome}"></span><br />
		<span>Categoria: </span><span th:text="${produtos.categoria}"></span><br />
		<span>Quantidade:  </span><span th:text="${produtos.quantidade}"></span><br/>
		<span>Estoque:  </span><span th:text="${produtos.estoque}"></span><br />
		
		
		<a type="button" class="btn btn-primary" th:href="@{/cadastro/produto/listar}">Clique para retornar a pagina principal</a>
	</div>
	
	
	
	<div class="fixed-bottom">
		<div th:replace="fragments :: footer"></div>
	</div>
</body>
</html>