<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head_pagina">

</head>
<style>
	#div1{
		
		float: left;
		margin-left: -20px;
		margin-top: -24px;
	}
	#div2{
		
		float: center ;
		padding:20px;
		margin-left: 620px;
		margin-top: -10px;
	}
</style>
<body>
	<div >
		<div th:replace="fragments :: coluna_superior"></div>
	</div>

	<div class="container" id="div1">
		<div th:replace="fragments :: menu"></div>
	</div>


	<div align="center" class="container jumbotron" id="div2">
		<h1>Contas a Pagar Cadastrado Com Sucesso!!</h1>
		<span>Nome:  </span><span th:text="${contas_pagar.nome}"></span><br />
		<span>Fornecedor (Email):  </span><span th:text="${contas_pagar.fornecedor}"></span><br />
		<span>Produto: </span><span th:text="${contas_pagar.produto}"></span><br />
		<span>Numero da Nota:  </span><span th:text="${contas_pagar.numero_nota}"></span><br/>
		<span>Data da Entrada:  </span><span th:text="${contas_pagar.data_entrada}"></span><br/>
		<span>Data de Vencimento:  </span><span th:text="${contas_pagar.data_vencimento}"></span><br/>
		<span>Valor:  </span><span th:text="${contas_pagar.valor}"></span><br/>
		
		
		<a  type="button" class="btn btn-primary" href="/cadastro/conta_pagar/listar">Voltar Para a Lista de Contas a pagar</a>
	</div>
	



	
	<div class="fixed-bottom">
		<div th:replace="fragments :: footer"></div>
	</div>



</body>
</html>