<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head_pagina">

</head>
<style>
	#div1{
		display: inline-block;
		float: left;
		margin-left: -20px;
	}

	#div2{
		margin-top: 40px;
		float: center ;
		padding-left: 130px;
	}
</style>

<body>

	<div >
		<div th:replace="fragments :: coluna_superior"></div>
	</div>
	
	<div class="container"  id="div1">
		<div th:replace="fragments :: menu"></div>
	</div>
	
	<div align="center" class="container"   id="div2">
		<h1>Produto  j&aacute; est&aacute; Cadastrado!! </h1>
		<span th:text="${mensagemProduto}"></span><br />
		
		
		
		<a type="button" class="btn btn-primary"   th:href="@{/cadastro/produto/listar}">Clique para retornar a Lista de Produtos</a>
	</div>
	
	
	
	<div class="fixed-bottom">
		<div th:replace="fragments :: footer"></div>
	</div>
</body>
</html>