<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head_pagina">
	<meta charset="utf-8" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<style>
	#div1 {
		display: inline-block;
		float: left;
		margin-left: -20px;
		margin-top: -24px;
	}

	#div2 {
	
	
		padding: 20px;
		margin-top: -10px;
		margin-left: 620px;
	}
</style>

<body>
	<div >
		<div th:replace="fragments :: coluna_superior"></div>
	</div>
	
	<div class="container " id="div1">
		<div th:replace="fragments :: menu"></div>
	</div>
	<div class="container jumbotron" id="div2">
		<h1 class="col-md-12 mb-3">Editar Caixa</h1>
		<form th:object="${caixas}" method="post" th:action="@{/cadastro/caixa/salvar}">
			<div class="col-md-6 mb-3 ">
			<div class="row">
			<div class="col-md-12 mb-3">
				<label for="validationDefault01">Saldo Positivo</label> <input type="text" th:field="*{saldo_positivo}" class="form-control"
					id="validationDefault01" placeholder="saldo positivo" required>
			</div>
			
			<div class="col-md-12 mb-3">
				<label for="validationDefault02">Saldo Negativo</label> <input type="text" th:field="*{saldo_negativo}"
					class="form-control" id="validationDefault02" placeholder="saldo negativo" required>
			</div>
			
			<div class="col-md-12 mb-3">
				<label for="validationDefaultUsername">Saldo Total</label>
				

					<input type="text" class="form-control" th:field="*{saldo_total}" id="validationDefaultUsername"
						placeholder="saldo total" aria-describedby="inputGroupPrepend2" required>
				
			</div>
			
		<div class="col-md-12 mb-3">
			<input type="hidden" id="id" th:field="*{id}" value="" />
			<button class="btn btn-success" type="submit">Salvar</button>
			<a type="button" class="btn btn-info" th:href="@{/cadastro/caixa/listar}">Voltar</a>
		</div>
		</div>	
	</div>
	</form>
</div>
	

	

	<div class="fixed-bottom">
		<div th:replace="fragments :: footer"></div>
	</div>
	
</body>
</html>