<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head_pagina">
	<meta charset="utf-8" />
</head>
<style>
	#div1 {
		display: inline-block;
		float: left;
		margin-left: -20px;
		margin-top: -24px;
	}

	#div2 {
		padding: 20px;
		float: left;
		margin-top: -10px;
		margin-left: 330px;
		margin-left: 620px;
	}
	#botao{
		float: left;
		padding: 10px;
	}
	
	#formulario{
		float: left;
	}
</style>

<body>
	<div id="div"  align="center">
		<div th:replace="fragments :: coluna_superior"></div>
	</div>
	<div class="container" id="div1">
		<div th:replace="fragments :: menu"></div>
	</div>
	<div class="container jumbotron" align="left" id="div2">
		<form  id="formulario" th:object="${dispositivos}" method="post"
			th:action="@{/cadastro/dispositivos/salvar}">
			<h1 style=" float: left;" >Editar Dispositivo</h1>
			<div class="col-md-12 mb-3">
				<label for="exampleFormControlInput1">Nome do Dispositivo</label> <input name="nome" th:field="*{nome}"
					type="text" class="form-control" id="exampleFormControlInput1" placeholder="nome do dispositivo"
					required>
			</div>
			<div class="col-md-12 mb-3">
				<label for="exampleFormControlInput1">IMEI</label> <input name="nome" th:field="*{imei}" type="text"
					class="form-control" id="exampleFormControlInput1" placeholder="imei" required>
			</div>
			<div class="col-md-12 mb-3">
				<label for="exampleFormControlSelect1">Modelo</label> <select th:field="*{modelo}" name="modelo"
					class="form-control" id="exampleFormControlSelect1">
					<option th:each="p : ${listaModelos}" th:value="${p}" th:text="${p}" required></option>
				</select>
			</div>
			
			<div class="col-md-12 mb-3">
				<label for="exampleFormControlSelect1">Vincular Ao Usuario</label> <select th:field="*{usuario}"
					name="estoque" class="form-control" id="exampleFormControlSelect1" required>
					<option th:each="p : ${listaUsuario}" th:value="${p.id}" th:text="${p.nome}" required></option>
				</select>
			</div>
			<div id="botao">
				<input type="hidden" id="id" th:field="*{id}" value="" />
				<button class="btn btn-success" type="submit">Salvar</button>
				<a type="button" class="btn btn-info" th:href="@{/cadastro/dispositivos/listar}">Voltar</a>
			</div>
		</form>
		<div class="fixed-bottom">
			<div th:replace="fragments :: footer"></div>
		</div>
	</div>
</body>
</html>